<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction de Classes CIFAR-10</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="status"></div>

    <!-- Titre Principal et Description du Modele -->
    <header>
        <h1>Prediction avec des CNN.</h1>
        <p>Ce modele de reseau de neurones convolutif (CNN) est capable de classer les images en 10 categories differentes : avion, automobile, oiseau, chat, cerf, chien, grenouille, cheval, navire et camion. Utilisez l'interface ci-dessous pour charger une image et obtenir une prediction de sa classe.</p>
    </header>
    
    <!-- Description detaillee de la construction du modele -->
    <section>
        <h2>Construction du Modele</h2>
        <p>Le modele est construit avec une architecture sequentielle utilisant la regularisation L2 pour prevenir le surajustement. Il integre des couches de convolution avec normalisation par lots, des couches de pooling maximales, et des couches de dropout avec des taux croissants pour reduire la complexite et augmenter la robustesse.</p>
    </section>

    <!-- Formulaire pour telecharger l'image -->
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept="image/*">
        <button type="submit">Charger et Predire</button>
    </form>
    
    <!-- Afficher l'image telechargee et la prediction -->
    <div id="imageContainer">
        <img id="uploadedImage" src="" alt="Uploaded Image" style="display:none; max-width:500px; height:auto;">
    </div>
    <div id="prediction"></div>

    <!-- Information sur le deploiement -->
    <footer>
        <p>Ce modele a ete deploye en utilisant les services de Google Cloud Platform (Cloud Build et Cloud Run) et configure via Terraform pour une integration et une maintenance efficaces.</p>
    </footer>

    <script>
        // Verifier le statut du modele
        fetch('/status')
            .then(response => response.json())
            .then(data => {
                document.getElementById('status').innerText = data.message;
            })
            .catch(error => {
                document.getElementById('status').innerText = 'Erreur lors du chargement du statut';
                console.error('Erreur:', error);
            });

        // Gerer la soumission du formulaire et l'affichage de l'image et de la prediction
        document.getElementById('uploadForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = async (e) => {
                    const uploadedImage = document.getElementById('uploadedImage');
                    uploadedImage.src = e.target.result;
                    uploadedImage.style.display = 'block';

                    const formData = new FormData();
                    formData.append('file', file);

                    const response = await fetch('/predict/', {
                        method: 'POST',
                        body: formData
                    });

                    const result = await response.json();
                    document.getElementById('prediction').innerText = 'Classe Predite: ' + result.predicted_class;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>
