<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model de predictioN</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="status"></div>
    
    <!-- Formulaire pour télécharger l'image -->
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept="image/*">
        <button type="submit">Upload and Predict</button>
        <h1>myaaw</h1>
    </form>
    
    <!-- Afficher l'image téléchargée -->
    <div id="imageContainer">
        <img id="uploadedImage" src="" alt="Uploaded Image" style="display:none; max-width:100%; height:auto;">
    </div>
    
    <!-- Afficher la prédiction -->
    <div id="prediction"></div>

    <script>
        // Vérifier le statut du modèle
        fetch('/status')
            .then(response => response.json())
            .then(data => {
                document.getElementById('status').innerText = data.message;
            })
            .catch(error => {
                document.getElementById('status').innerText = 'Error loading status';
                console.error('Error:', error);
            });

        // Gérer la soumission du formulaire et l'affichage de l'image et de la prédiction
        document.getElementById('uploadForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = async (e) => {
                    const uploadedImage = document.getElementById('uploadedImage');
                    uploadedImage.src = e.target.result;
                    uploadedImage.style.display = 'block';

                    const formData = new FormData();
                    formData.append('file', file);

                    const response = await fetch('/predict/', {
                        method: 'POST',
                        body: formData
                    });

                    const result = await response.json();
                    document.getElementById('prediction').innerText = 'Predicted class: ' + result.predicted_class;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>
